* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  background-color: white;
  border: 1px solid $primary-color;
  font-family: $buttonTypo;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
}

.separator {
  width: 60%;
  height: 1px;
  background-color: $primary-color;
}
