@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$primary-color: #e3bc2e;
$nav-background: #202020;
$mainTypo: "Jacques Francois", serif;
$buttonTypo: "Inter", sans-serif;
