.wineListTitle {
  margin-top: 24px;
  text-align: center;
  font-size: calc(1.2vw + 1em);
}

.menuAndListWrapper {
  display: flex;
  margin-top: 40px;
  position: relative;

  .wineCardList {
    width: 100%;
    margin: 0 clamp(20px, 5%, 200px);
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    a {
      width: clamp(150px, 20%, 250px);
    }
  }
}

.openFilterMenuButton {
  position: absolute;
  top: -40px;
  left: -20px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}

#hiddenButton {
  display: none;
}

#visibleButton {
  display: flex;
}
