.userCardWrapper {
  width: 250px;
  position: relative;
  margin-top: 15px;

  .userCard {
    cursor: pointer;
    background-color: white;
    border: 1px solid;
    font-family: $buttonTypo;
    padding: 10px 25px;
    border-radius: 25px;
    text-align: center;

    &:hover {
      background-color: $primary-color;
      color: white;
      transition-duration: 0.3s;
    }
  }
}
