.userAdminList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userAdminList_title {
  font-family: $mainTypo;
  font-size: xx-large;
  margin: 0px 0px 20px 30px;
}

.userAdminList_buttonWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;
}

#userAdminList_buttonWrapper2 {
  margin: 30px 0px 50px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 80%;
}

.userAdminList button {
  border: 1px solid;
  width: 180px;
  height: 40px;

  .admin_icons {
    margin-right: 12px;
  }
}

#userAdminList_usersButton,
#userAdminList_winesButton {
  width: 190px;
  height: 40px;
}

#userAdminList_usersButton {
  border: 1px solid $primary-color;
}

@media (min-width: 768px) {
  #userAdminList_buttonWrapper2 {
    width: 60%;
  }
}
