.text_connexion {
  text-align: center;
  font-family: $mainTypo;
  font-size: 16px;
  margin-top: 10%;
  padding: 15px;
}

.form_connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;

  input {
    font-style: italic;
    border: none;
    border-bottom: solid $primary-color 0.1rem;
    margin: 0 auto;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    width: 80%;
    font-family: $buttonTypo;
  }
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.button_connexion {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15px;
  width: 45%;
}

.inscription {
  margin-top: 40px;
  text-align: center;
}

.errormdp {
  color: red;
}
.errormail {
  color: red;
  margin-bottom: 15px;
}

.selected {
  background-color: lightyellow;
}

.button_inscription {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
  width: 45%;
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  .text_connexion {
    margin-top: 25px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .text_connexion {
    text-align: center;
    margin-top: 1%;
    padding: 15px;
  }
}
