.formulaire_inscription_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inovin_picture {
  background-image: url("https://i.ibb.co/qFN1ZLG/inovin-Picture-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: calc(513px * 0.6);
  height: calc(582px * 0.6);
}

.form_inscription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  font-size: calc(0.8vw + 0.7em);

  input {
    font-style: italic;
    border: none;
    border-bottom: solid;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    margin-top: 20px;
    font-family: $buttonTypo;
  }
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.input_inscription.date {
  color: gray;
  border-color: black;
}

.text_inscription {
  font-family: $mainTypo;
  font-size: 16px;
  margin-bottom: 5%;
  margin: 1.2rem;
  font-size: calc(0.8vw + 0.7em);
}

.form_description {
  display: flex;
  font-style: italic;
  border-style: solid;
  padding-bottom: 2em;
  font-family: $buttonTypo;
  width: 100%;
  height: 80px;
  resize: none;
  padding: 5px;
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}
.input_inscription {
  &:focus {
    background-color: lightyellow;
    outline: none;
    border-color: $primary-color;
  }
}

.button_inscription {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  font-size: calc(0.7vw + 0.6em);
}
.a {
  width: 30%;
}

.form_inscription_error {
  color: red;
  margin-bottom: 15px;
  font-family: $buttonTypo;
  font-size: smaller;
  border-bottom: none;
}
.form_inscription_error_text {
  color: red;
  margin-top: 15px;
  font-family: $buttonTypo;
  font-size: smaller;
  border-bottom: none;
}

@media screen and (min-width: 700px) {
  .formulaire_inscription_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .inovin_picture {
      margin-top: 10px;
      margin-left: 10px;
      background-image: url("https://i.ibb.co/WvqNyZT/inovin-Picture-desktop.png");
      width: calc(513px * 0.8);
      height: calc(582px * 0.8);
    }

    .form_inscription {
      width: 30%;

      input {
        margin-top: 10px;
        font-size: calc(0.5vw + 0.4em);
      }
      .text_connexion {
        text-align: center;
        margin-top: 1%;
        padding: 15px;
      }
    }
    .inscription {
      margin-top: 15%;
    }
    .form_description {
      margin-top: 20px;
    }

    .text_inscription {
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 50px;
      font-size: calc(0.8vw + 0.7em);
    }
  }
}

@media screen and (min-width: 800px) {
  .inovin_picture {
    margin-top: 50px;
    margin-left: 10px;
    background-image: url("https://i.ibb.co/WvqNyZT/inovin-Picture-desktop.png");
    width: calc(513px * 1.2);
    height: calc(582px * 1.2);
  }
}
