.text_inscription {
  text-align: center;
  font-family: $mainTypo;
  font-size: 16px;
  margin-top: 5%;
  padding: 15px;
}
.checkbox_vigneron {
  display: flex;
  justify-content: center;

  color: black;
  margin-bottom: 10px;
}
.form_inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  margin: 40px auto;
  input {
    font-style: italic;
    border: none;
    border-bottom: solid $primary-color 0.1rem;
    margin: 0 auto;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    width: 80%;
    font-family: $buttonTypo;
  }
}

.form_description {
  font-style: italic;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  border-style: solid;
  padding-bottom: 2em;
  font-family: $buttonTypo;
  width: 80%;
  resize: none;
  padding: 5px;
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.selected {
  background-color: lightyellow;
}

.form_inscription_error {
  color: red;
  margin-bottom: 15px;
}
