.resetPassword {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      font-style: italic;
      border: none;
      border-bottom: solid;
      margin: 0 auto;
      border-style: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      margin-bottom: 1.5em;
      padding-bottom: 0.5em;
      margin-top: 20px;
      width: 40%;
      font-family: $buttonTypo;
    }

    .input_connexion {
      &:focus {
        background-color: lightyellow;
        outline: none;
        border-color: $primary-color;
      }
    }
    .error_connexion {
      color: red;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}

.emailSent {
  margin-top: 30px;
}
