.returnButton {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 110px;
  left: 15px;
  font-size: calc(0.8vw + 0.7em);
  margin-bottom: 25px;

  cursor: pointer;
  &_image {
    width: calc(25px * 0.9);
    height: calc(25px * 0.9);
  }
}
.resetPassword {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      font-style: italic;
      border: none;
      border-bottom: solid;
      margin: 0 auto;
      border-style: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      margin-bottom: 1.5em;
      padding-bottom: 0.5em;
      margin-top: 20px;
      width: 40%;
      font-family: $buttonTypo;
      font-size: calc(0.7vw + 0.6em);
    }

    .input_connexion {
      &:focus {
        background-color: lightyellow;
        outline: none;
        border-color: $primary-color;
        font-size: calc(0.7vw + 0.6em);
      }
    }
    .error_connexion {
      color: red;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}

.emailSent {
  margin-top: 30px;
}
