.glossaryPage {
  display: flex;
  flex-direction: column;

  .cepage_name {
    margin-top: 20px;
    font-family: $mainTypo;
    font-weight: 600;
    font-size: 1.2em;
  }

  .glossaryContainerA {
    width: 50%;
    text-align: left;
    align-self: flex-start;
    background-color: red;
  }

  .glossaryContainerB {
    width: 50%;
    text-align: left;
    align-self: flex-end;
    background-color: green;
  }
}
