.user-profile-taste {
  font-family: $mainTypo;
  &_validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    margin-bottom: 3%;
    padding-top: 6%;
  }
  &_solid {
    border-top: 2px solid #202020;
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
  }
  &_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6%;
    margin-bottom: 6%;
    gap: 15px;
  }
  &_buttonzone {
    text-align: center;
    &_button {
      cursor: pointer;
      background-color: white;
      border: 1px solid $primary-color;
      font-family: $buttonTypo;
      padding: 10px 25px;
      border-radius: 25px;
      text-align: center;
    }
  }
}
