.navBar {
  background: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 100px;
}

ul {
  height: 100%;
  gap: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 95%;
}

.link {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Jacques Francois";
  font-size: 30px;
}
