.listButtonWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: clamp(20px, 10%, 100px);

  .searchInput {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .searchInput:focus {
    outline: none;
  }
  .defaultInput {
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);
  }
}
