.searchAndFilterMenu {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  min-width: clamp(180px, 20%, 300px);
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;

  .searchAndCloseWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .closeFilterMenu {
      height: 25px;
    }
  }

  p:first-of-type {
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: $buttonTypo;
    font-size: clamp(0.5em, calc(1vw + 0.7em), 1.3em);
    text-align: center;
  }

  p {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: $mainTypo;
    font-size: clamp(1em, calc(0.8vw + 0.6em), 1.1em);
    text-align: left;
  }

  label {
    font-family: $mainTypo;
    font-size: clamp(0.7em, calc(0.6vw + 0.6em), 0.9em);
    display: flex;
    align-items: center;
    margin-bottom: 3px;

    input {
      margin-right: 8px;
      width: 25px;
      height: 25px;
    }
  }
}
